<div class="row">
  <div class="col-md-12">
    <div class="error-container">
      <h1>Oops!</h1>
      <h2 ng-bind="errorTitle"></h2>
      <div class="error-detail" ng-bind="errorDetail">WebSocket is a protocol providing full-duplex communications channels over a single TCP connection. </div>
      <div class="error-action">
        <a href="http://browsehappy.com" target="_blank" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-globe"></i>Upgrade Browser</a>
      </div>
    </div>
  </div>
</div>
