<div class="row">
  <div class="col-md-4">
    <div class="widget widget-table">
      <div class="widget-header">
        <span class="glyphicon glyphicon-info-sign"></span>
        <h3>Stats</h3>
      </div>
      <div class="widget-content">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td>Uptime</td>
              <td ng-bind="serverStats.Uptime"></td>
            </tr>
            <tr>
              <td>Memcached</td>
              <td ng-bind="serverStats.Version"></td>
            </tr>
            <tr>
              <td>Total Connections</td>
              <td ng-bind="serverStats.TotalConnections"></td>
            </tr>
            <tr>
              <td>Total Items</td>
              <td ng-bind="serverStats.TotalItems"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="widget widget-table">
      <div class="widget-header">
        <span class="glyphicon glyphicon-export"></span>
        <h3>Eviction & Reclaimed</h3>
      </div>
      <div class="widget-content">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td>Items Eviction</td>
              <td ng-bind="serverStats.Evictions"></td>
            </tr>
            <tr>
              <td>Eviction Rate</td>
              <td><span ng-bind="(serverStats.Evictions / serverStats.Uptime).toFixed(2)"></span> Eviction/sec</td>
            </tr>
            <tr>
              <td>Reclaimed</td>
              <td ng-bind="serverStats.Reclaimed"></td>
            </tr>
            <tr>
              <td>Reclaimed Rate</td>
              <td><span ng-bind="(serverStats.Reclaimed / serverStats.Uptime).toFixed(2)"></span> Reclaimed/sec</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="widget widget-table">
      <div class="widget-header">
        <span class="glyphicon glyphicon-cog"></span>
        <h3>Configuration</h3>
      </div>
      <div class="widget-content">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td>Max Bytes</td>
              <td ng-bind="settingsStats.Maxbytes"></td>
            </tr>
            <tr>
              <td>Max Connections</td>
              <td ng-bind="settingsStats.Maxconns"></td>
            </tr>
            <tr>
              <td>Chunk Size</td>
              <td ng-bind="settingsStats.ChunkSize"></td>
            </tr>
            <tr>
              <td>Chunk Growth Factor</td>
              <td ng-bind="settingsStats.GrowthFactor"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="widget widget-stats">
      <div class="widget-content">
        <div class="stats-container big">
          <div class="stat">
            <h4>Connections</h4>
            <span class="value" ng-bind="serverStats.CurrItems"></span>
          </div>
          <div class="stat">
            <h4>Items</h4>
            <span class="value" ng-bind="serverStats.CurrConnections"></span>
          </div>
          <div class="stat">
            <h4>Used</h4>
            <span class="value" ng-bind="serverStats.Bytes"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
