<div class="row" ng-if="ready()">
  <div class="col-md-7">
    <div class="widget widget-table">
      <div class="widget-header">
        <i class="glyphicon glyphicon-info-sign"></i>
        <h3>Slab #<span ng-bind="slabId"></span> Info</h3>
      </div>
      <div class="widget-content">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td style="width: 25%;" title="The amount of space each chunk uses. One item will use one chunk of the appropriate size">Chunk Size</td>
              <td style="width: 25%;" ng-bind="slabsStats[slabIndex].ChunkSize | default:0 | unitResize"></td>
              <td style="width: 25%;" title="How many chunks exist within one page. A page by default is less than or equal to one megabyte in size. Slabs are allocated by page, then broken into chunks">Chunks Per Page</td>
              <td style="width: 25%;" ng-bind="slabsStats[slabIndex].ChunksPerPage | default:0"></td>
            </tr>
            <tr>
              <td colspan="2">Chunks Used/Free/Total</td>
              <td colspan="2">
                <span ng-bind="slabsStats[slabIndex].UsedChunks | default:0"></span> / <span ng-bind="slabsStats[slabIndex].FreeChunks | default:0"></span> / <span ng-bind="slabsStats[slabIndex].TotalChunks | default:0"></span>
              </td>
            </tr>
            <tr>
              <td title="Number of bytes requested to be stored in this slab">Memory Requested</td>
              <td colspan="3" ng-bind="slabsStats[slabIndex].MemRequested | default:0 | unitResize"></td>
            </tr>
            <tr>
              <td style="width: 25%;" title="Number of items presently stored in this class. Expired items are not automatically excluded">Items</td>
              <td style="width: 25%;" ng-bind="itemsStats[slabId].Number | default:0"></td>
              <td style="width: 25%;" title="Total number of pages allocated to the slab class">Pages</td>
              <td style="width: 25%;" ng-bind="slabsStats[slabIndex].TotalPages | default:0"></td>
            </tr>
            <tr>
              <td title="Age of the oldest item in the LRU">Oldest Item</td>
              <td colspan="3" ng-bind="itemsStats[slabId].Age | default:0 | second2time"></td>
            </tr>
            <tr>
              <td title="Number of times an item had to be evicted from the LRU before it expired">Evicted</td>
              <td colspan="3" ng-bind="itemsStats[slabId].Evicted | default:0"></td>
            </tr>
            <tr>
              <td title="Number of times an item which had an explicit expire time set had to be evicted from the LRU before it expired">Evicted Nonzero</td>
              <td colspan="3" ng-bind="itemsStats[slabId].EvictedNonzero | default:0"></td>
            </tr>
            <tr>
              <td title="Seconds since the last access for the most recent item evicted from this class. Use this to judge how recently active your evicted data is">Evicted Time</td>
              <td colspan="3" ng-bind="itemsStats[slabId].EvictedTime | default:0"></td>
            </tr>
            <tr>
              <td title="Number of times an entry was stored using memory from an expired entry">Reclaimed</td>
              <td colspan="3" ng-bind="itemsStats[slabId].Reclaimed | default:0"></td>
            </tr>
            <tr>
              <td colspan="2" title="Number of expired items reclaimed/evicted from the LRU which were never touched after being set">Unfetched Expired/Evicted</td>
              <td colspan="2">
                <span ng-bind="itemsStats[slabId].ExpiredUnfetched | default:0"></span> / <span ng-bind="itemsStats[slabId].EvictedUnfetched | default:0"></span>
              </td>
            </tr>
            <tr>
              <td colspan="2" title="OOM: Number of times the underlying slab class was unable to store a new item. TR: Number of times we self-healed a slab with a refcount leak">Warning OOM/TR</td>
              <td colspan="2">
                <span ng-bind="itemsStats[slabId].Outofmemory | default:0"></span> / <span ng-bind="itemsStats[slabId].Tailrepairs | default:0"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="widget widget-chart">
      <div class="widget-header">
        <span class="glyphicon glyphicon-stats"></span>
        <h3>Slab #<span ng-bind="slabId"></span> Requests &amp; Memory</h3>
      </div>
      <div class="widget-content">
        <div class="chart-container" ng-model="slabsStats" chart-stats-slab></div>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-if="ready()">
  <div class="col-md-12">
    <div class="widget widget-table">
      <div class="widget-header">
        <i class="glyphicon glyphicon-hdd"></i>
        <h3>Slabs</h3>
      </div>
      <div class="widget-content">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover" id="slab_stats">
            <thead>
              <tr>
                <th ng-repeat="header in slabHeaders" ng-class="slabOrder === header[0] ? 'active' : ''" ng-click="sort(header[0])">
                  <span ng-bind="header[1]"></span>
                  <i class="pull-right glyphicon" ng-class="slabReverse ? 'glyphicon-sort-by-order-alt' : 'glyphicon-sort-by-order'"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="stats in slabsStats | orderBy:$parent.slabOrder:$parent.slabReverse" ng-class="slabIndex == stats.Index ? 'active' : ''" ng-click="activeSlab($event, stats.Index)">
                <td ng-bind="stats.Id"></td>
                <td ng-bind="stats.ChunkSize | unitResize" title="{{ stats.ChunkSize }}"></td>
                <td ng-bind="stats.UsedChunks"></td>
                <td ng-bind="stats.FreeChunks"></td>
                <td ng-bind="stats.TotalChunks"></td>
                <td ng-bind="stats.Malloced | unitResize" title="{{ stats.Malloced }}"></td>
                <td ng-bind="stats.Wasted | unitResize" title="{{ stats.Wasted }}"></td>
                <td ng-bind="stats.MemRequested | unitResize" title="{{ stats.MemRequested }}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
