<div class="row">
  <div class="col-md-12">
    <div class="widget widget-tool">
      <div class="widget-header">
        <span class="glyphicon glyphicon-search"></span>
        <h3>Query</h3>
      </div>
      <div class="widget-content">
        <form class="form-horizontal" role="form" ng-submit="cacheGet()">
          <div class="form-group" ng-class="queryState()[1]">
            <label class="control-label col-md-2" for="cache_value">Key: </label>
            <div class="input-group col-md-5">
              <input type="text" class="form-control" id="cache_key" ng-model="queryKey">
              <span class="input-group-btn">
                <input class="btn btn-primary" type="submit" value="Get"></input>
              </span>
            </div>
            <span class="help-block" ng-hide="queryState()[0]">Item not found!</span>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" for="cache_value">Value: </label>
            <div class="col-md-9">
              <textarea class="form-control" id="cache_value" rows="5" style="resize: vertical;" ng-model="queryResult.Value"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
