<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Go Memcached Admin</a>
    </div>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
      </ul>
    </div>
  </div>
</div>
<div class="subnavbar navbar-fixed-top" ng-controller="NavCtrl">
  <div class="subnavbar-inner">
    <div class="container">
      <a class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
        <i class="icon-record"></i>
      </a>
      <div class="subnav-collapse">
        <ul class="mainnav">
          <li ng-class="navClass('/server')">
            <a href="/#/server"><i class="glyphicon glyphicon-home"></i><span>Server</span></a>
          </li>
          <li ng-class="navClass('/slab')">
            <a href="/#/slab"><i class="glyphicon glyphicon-hdd"></i><span>Slab</span></a>
          </li>
          <li ng-class="navClass('/live')">
            <a href="/#/live"><i class="glyphicon glyphicon-play"></i><span>Live</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
