<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Go Memcached Admin</title>

    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <script src="/public/js/modernizr.js"></script>
  </head>
  <body ng-cloak ng-app="gmcadmin">
    {{template "header.html" .}}
    <div class="container">
      <div ng-view></div>
      <hr>
      {{template "footer.html" .}}
    </div>

    <script type="text/ng-template" id="/tpl/server.html">
{{template "templates/server.html" .}}
    </script>
    <script type="text/ng-template" id="/tpl/slab.html">
{{template "templates/slab.html" .}}
    </script>
    <script type="text/ng-template" id="/tpl/live.html">
{{template "templates/live.html" .}}
    </script>

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/angular.js"></script>
    <script src="/public/js/angular-route.js"></script>
    <script src="/public/js/highcharts.js"></script>
    <script src="/public/js/app.js"></script>
  </body>
</html>
